*.egg
*.egg-info
*.mo
*.py[cod]
*.so
.coverage
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.tox
bin
build
develop-eggs
dist
eggs
lib
lib64
nosetests.xml
parts
pip-log.txt
sdist
var
package-index.txt